<ul class="left_nav">
    <li><%= link_to "Charities", manage_charities_path %></li>
    <li><%= link_to "New Charity", new_manage_charity_path %></li>
    <!--<li><%= link_to "Charity Questions", manage_charity_questions_path %></li>
    <li><%= link_to "New Charity Question", new_charity_question_path %></li>-->
</ul>
<hr class="divider" />
<ul class="left_nav">
    <li><%= link_to "Sponsors", manage_sponsors_path %></li>
    <li><%= link_to "New Sponsor", new_manage_sponsor_path %></li>
    <!--<li><%= link_to "Sponsor Questions", manage_sponsor_questions_path %></li>
    <li><%= link_to "New Sponsor Question", new_manage_sponsor_question_path %></li>-->
</ul>
<hr class="divider" />
<ul class="left_nav">
    <li><%= link_to "Challenges", manage_challenges_path %></li>
    <li><%= link_to "New Challenge", new_manage_challenge_path %></li>
</ul>
<hr class="divider" />
<ul class="left_nav">
    <li><%= link_to "Activities", manage_activities_path %></li>
    <li><%= link_to "New Activity", new_manage_activity_path %></li>
</ul>
<hr class="divider" />
<ul class="left_nav">
    <li><%= link_to "Reports", manage_user_activities_path %></li>
    <li><%= link_to "New User Activity", new_manage_user_activity_path %></li>
</ul>
<hr class="divider" />
<ul class="left_nav">
    <li><%= link_to "Tags", manage_tags_path %></li>
    <li><%= link_to "New Tag", new_manage_tag_path %></li>
</ul>
<hr class="divider" />
<ul class="left_nav">
    <li><%= link_to "Users", manage_users_path %></li>
</ul>
