<% @page_title = "manage : charities : list" %>

<div class="contentpaneopen">
    <div class="contentheading">Charities List</div>
    <div>
        Sort:
        <% if !params[:sort].nil? && params[:sort] == "alpha" && !params[:asc].nil? && params[:asc] == "asc" then %>
            A-Z |
        <% else %>
            <%= link_to "A-Z", :controller => "charities", :action => "index", :sort => "alpha", :asc => "asc" %> |
        <% end %>
        <% if !params[:sort].nil? && params[:sort] == "alpha" && !params[:asc].nil? && params[:asc] == "desc" then %>
            Z-A |
        <% else %>
            <%= link_to "Z-A", :controller => "charities", :action => "index", :sort => "alpha", :asc => "desc" %> |
        <% end %>

        <% if !params[:sort].nil? && params[:sort] == "date" && !params[:asc].nil? && params[:asc] == "asc" then %>
            New-Old |
        <% else %>
            <%= link_to "New-Old", :controller => "charities", :action => "index", :sort => "date", :asc => "asc" %> |
        <% end %>
        <% if !params[:sort].nil? && params[:sort] == "date" && !params[:asc].nil? && params[:asc] == "desc" then %>
            Old-New
        <% else %>
            <%= link_to "Old-New", :controller => "charities", :action => "index", :sort => "date", :asc => "desc" %>
        <% end %>
    </div>
</div>

<div class="contentpaneopen">
    <div class="contentheading">
        <% form_tag url_for_options = {:controller => "/manage/search", :action => "charities"}, :method => :get do %>
            <%= text_field_tag "keyword", nil, :class => "text_field", :size => 30, :maxlength => 50 %><%= submit_tag "charity search" %>
        <% end %>
    </div>
</div>

<div class="contentpaneopen">
    <% @charities.each_with_index do |charity, index| %><div class="list_table">
        <div class="list_table_row">
            <div class="list_table_cell_left">Name: </div>
            <div class="list_table_cell_right"><b><%=charity.name%></b></div>
        </div>
        <div class="list_table_row">
            <div class="list_table_cell_left">Contact E-mail: </div>
            <div class="list_table_cell_right"><%=charity.email%></div>
        </div>
        <div class="list_table_row">
            <div class="list_table_cell_left">Website: </div>
            <div class="list_table_cell_right"><%=charity.website%></div>
        </div>
        <div class="list_table_row">
            <div class="list_table_cell_left">Tags: </div>
            <div class="list_table_cell_right"><% charity.tags.each_with_index do |tag, index| %>
                <%= tag.name %><%= if index < charity.tags.length - 1 then ", " end %>
            <% end %></div>
        </div>
        <div class="list_table_row">
            <div class="list_table_cell_left">Active: </div>
            <div class="list_table_cell_right"><%=charity.enabled ? "yes" : "no" %></div>
        </div>
        <div class="list_table_row">
            <div class="list_table_cell_left">Actions: </div>
            <div class="list_table_cell_right">
                <%= link_to "Show", :controller => "charities", :action => "show", :id => charity.id %> |
                <%= link_to "Edit", :controller => "charities", :action => "edit", :id => charity.id %> |
                <%= link_to "Delete", :controller => "charities", :action => "delete", :id => charity.id, :confirm => "Are you sure?", :method => :delete %>
            </div>
        </div>
    </div>
    <% if index < @charities.length - 1 %><hr class="divider" /><% end %><% end %>
</div><br />
