<% @page_title = "manage : users : edit" %>

<div class="contentpaneopen">
    <div class="contentheading">Edit User</div>
</div>

<div class="contentpaneopen">
    <div class="list_table">
        <div class="list_table_row">
            <div class="list_table_cell_single">
                <% form_for :user, @user, :url => { :action => "update" }, :html => { :method => :put } do |f| %>
                    <%= f.error_messages %>
                    <fieldset>
                        <%= f.label :first_name, "First Name: " %>
                        <%= f.text_field :first_name, :class => "text_field", :size => 20, :maxlength => 50, :disabled => "disabled" %>
                    </fieldset>
                    <fieldset>
                        <%= f.label :middle_name, "Middle Name: " %>
                        <%= f.text_field :middle_name, :class => "text_field", :size => 20, :maxlength => 50, :disabled => "disabled" %>
                    </fieldset>
                    <fieldset>
                        <%= f.label :last_name, "Last Name: " %>
                        <%= f.text_field :last_name, :class => "text_field", :size => 20, :maxlength => 50, :disabled => "disabled" %>
                    </fieldset>
                    <fieldset>
                        <%= f.label :email, "E-mail: " %>
                        <%= f.text_field :email, :class => "text_field", :size => 20, :maxlength => 100, :disabled => "disabled" %>
                    </fieldset>
                    <fieldset>
                        <%= f.label :date_of_birth, "Date of Birth: " %>
                        <%= f.date_select :date_of_birth, :start_year => 1900, :end_year => 2009, :include_blank => true, :order => [:month, :day, :year], :disabled => "disabled" %>
                    </fieldset>
                    <fieldset>
                        <%= f.label :address1, "Address: " %>
                        <%= f.text_field :address1, :class => "text_field", :size => 20, :maxlength => 50, :disabled => "disabled" %>
                    </fieldset>
                    <fieldset>
                        <%= f.label :address2, "Address 2: " %>
                        <%= f.text_field :address2, :class => "text_field", :size => 20, :maxlength => 50, :disabled => "disabled" %>
                    </fieldset>
                    <fieldset>
                        <%= f.label :city, "City: " %>
                        <%= f.text_field :city, :class => "text_field", :size => 20, :maxlength => 100, :disabled => "disabled" %>
                    </fieldset>
                    <fieldset>
                        <%= f.label :state, "State: " %>
                        <%= f.collection_select :state, @states, :abbrev, :name, options ={:prompt => "-Select a State"}, :class =>"select_field", :disabled => "disabled" %>
                    </fieldset>
                    <fieldset>
                        <%= f.label :postal_code, "Zip Code: " %>
                        <%= f.text_field :postal_code, :class => "text_field", :size => 5, :maxlength => 10, :disabled => "disabled" %>
                    </fieldset>
                    <fieldset>
                        <%= f.label :country, "Country: " %>
                        <%= f.collection_select :country, @countries, :iso, :printable_name, options ={:prompt => "-Select a Country"}, :class =>"select_field", :disabled => "disabled" %>
                    </fieldset>
                    <fieldset>
                        <%= f.label :gender, "Gender: " %>
                        <%= f.text_field :gender, :class => "text_field", :size => 1, :maxlength => 1, :disabled => "disabled" %>
                    </fieldset>
                    <fieldset>
                        <%= f.label :phone_number, "Phone Number: " %>
                        <%= f.text_field :phone_number, :class => "text_field", :size => 15, :maxlength => 15, :disabled => "disabled" %>
                    </fieldset>
                    <fieldset>
                        <%= f.label :enabled, "Active: " %>
                        <%= f.check_box :enabled %>
                    </fieldset>
                    <% f.fields_for :user_role do |ur| %>
                        <fieldset>
                            <%= f.label :role_ids, "Roles: " %>
                            <%= f.collection_select :role_ids, @roles, :id, :name, options ={:prompt => "-Select Roles"}, html_options ={:multiple => true, :size => 5, :class =>"select_field"} %>
                        </fieldset>
                    <% end %>
                    <fieldset>
                        <label>&nbsp;</label>
                        <%= f.submit "Update" %>
                    </fieldset>
                <% end %>
            </div>
        </div>
    </div>
</div><br />

<%= link_to "Show User", [:manage, @user] %>
